*{
    margin: 0;
    padding: 0;
}

/* .lingan_1 {  position: absolute; top: 0; left: 0; width: 90%; height: 100%;  } */

html{
    /*设置rem的比值  100vw/1030*50 */
    font-size: 4.8543689320388vw;
    background-color: antiquewhite;
}

@media screen and (orientation:portrait) {

    body {
      transform-origin: 0 0;
      transform: rotateZ(90deg) translateY(-100%);
    }
}

.box1{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-image: url(img/bg.jpg);
    background-size: 100% 200%; 
    animation: move 0.5s steps(2) infinite;
    position: relative;
    /* float: left; */
}

@keyframes move{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 0 -200vh;
    }
}

.words01{
    width: 5.58rem;
    height: 0.78rem;
    background-image: url(img/a01.png);
    background-size: 100% 100%; 
    position: absolute;
    top: 2rem;
    left: 8rem;
    animation: move1 2s;
}

@keyframes move1{
     0%{
        opacity: 0;
      }
      30% {
        opacity: 0.25;
      }
      68%{
        opacity: 0.5;
      }
      72% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
}

.words02{
    width: 6.14rem;
    height: 0.76rem;
    background-image: url(img/a02.png);
    background-size: 100% 100%; 
    position: absolute;
    top: 3rem;
    left: 4.8rem;
    animation: move2 2s;
    animation-delay: 2s;
}

@keyframes move2{
    0%{
        opacity: 0;
      }
      30% {
        opacity: 0.25;
      }
      68%{
        opacity: 0.5;
      }
      72% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
}

   .words03{
    width: 8.86rem;
    height: 0.76rem;
    background-image: url(img/a03.png);
    background-size: 100% 100%; 
    position: absolute;
    top: 4rem;
    left: 7rem;
    animation: move3 2s;
    animation-delay: 4s;
}

@keyframes move3{
    0%{
        opacity: 0;
      }
      30% {
        opacity: 0.25;
      }
      68%{
        opacity: 0.5;
      }
      72% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
}

.words04{
    width: 9.48rem;
    height: 0.78rem;
    background-image: url(img/a04.png);
    background-size: 100% 100%; 
    position: absolute;
    top: 5rem;
    left: 2.7rem;
    animation: move4 2s;
    animation-delay: 6s;
}

@keyframes move4{
    0%{
        opacity: 0;
      }
      30% {
        opacity: 0.25;
      }
      68%{
        opacity: 0.5;
      }
      72% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      } 
}

.continue{
    width: 4.94rem;
    height: 0.5rem;
    background-image: url(img/a05.png);
    background-size: 100% 100%; 
    position: absolute;
    top: 7rem;
    left: 6rem;
	/* cursor: pointer; */
	animation: move5 2s;
	animation-delay: 8s;
}

@keyframes move5{
    0%{
        opacity: 0;
      }
      30% {
        opacity: 0.25;
      }
      68%{
        opacity: 0.5;
      }
      72% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      } 
}

.box2{
	width: 100vw;
	height: 100vh;
}
