*{
    margin: 0;
    padding: 0;
}

html{
    /*设置rem的比值  100vw/1030*50 */
    font-size: 4.8543689320388vw;
    background-color: antiquewhite;
}

.box1{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-image: url(./img/bg.jpg);
    background-size: 100% 200%; 
    animation: move 0.5s steps(2) infinite;
    /* float: left; */
}

@keyframes move{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 0 -200vh;
    }
}

/* .words01{
    width: 2.79rem;
    height: 0.78rem;
    background-image: url(./img/a01.png);
    background-size: 200% 100%; 
    position: absolute;
    top: 2rem;
    left: 7rem;
    animation: move1 2s;
}

@keyframes move1{
    from{
        background-position: -5.58rem 0;
    }

    to{
        background-position: 0 0;
    }
}

.words02{
    width: 3.07rem;
    height: 0.76rem;
    background-image: url(./img/a02.png);
    background-size: 200% 100%; 
    position: absolute;
    top: 3rem;
    left: 5rem;
    animation: move2 2s;
    animation-delay: 2s;
}

@keyframes move2{
    from{
        background-position: 6.14rem 0;
    }

    to{
        background-position: 0 0;
    }
} */

/* .words03{
    width: 6.14rem;
    height: 0.76rem;
    background-image: url(./img/a03.png);
    background-size: 200% 100%; 
    position: absolute;
    top: 4rem;
    left: 5rem;
    animation: move3 2s;
    animation-delay: 2s;
}

@keyframes move3{
    from{
        background-position: 6.14rem 0;
    }

    to{
        background-position: 0 0;
    }
}

.words04{
    width: 5.58rem;
    height: 0.78rem;
    background-image: url(./img/a04.png);
    background-size: 200% 100%; 
    position: absolute;
    top: 5rem;
    left: 7rem;
    animation: move4 2s;
}

@keyframes move4{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 5.58rem 0;
    } 
}*/

.words01{
    line-height: 2rem;
    color: darkblue;
    margin-left: 7rem;
}

.words02{
    line-height: 2rem;
    color: darkblue;
    margin-left: 6rem;
}

.words03{
    line-height: 2rem;
    color: darkblue;
    margin-left: 4rem;
}

.words04{
    line-height: 2rem;
    color: darkblue;
    margin-left: 3rem;
}